
<div>
  <%= form_with model: @computer_type do |f| %>
    <div class="input-group mt-4">
      <span class="input-group-text"><%= f.label :name,'Tipo' %></span>
      <input type="text" name="computer_type[name]" id="computer_type_name" class="form-control" placeholder="Digite o tipo do computador" aria-label="With textarea"/>
    </div>

    <div class="mt-4">
      <%= f.submit 'Salvar', class: "btn btn-secondary mt4" %>
    </div>

  <% end %>
