<%= form_with model: @operating_system do |f| %>
  <div class="input-group mt-4">
    <span class="input-group-text"><%= f.label :name,'Nome' %></span>
    <input type="text" name="operating_system[name]" id="operating_system_name" class="form-control" placeholder="Sistema operacional" aria-label="With textarea"/>
  </div>

  <div class="mt-4">
    <%= f.submit 'Salvar', class: "btn btn-secondary mt4" %> <%= link_to 'Voltar', :back, class: "btn btn-secondary"%>
  </div>
<% end %>