<%= form_with url: computers_path, method: :get do %>
  <div class="input-group mt-4">
    <span class="input-group-text">
      <i class="bi bi-search"></i>
    </span>
    <input type="text" name="q" id="search_computers" class="form-control" placeholder="Search" aria-label="With textarea"/>
    <button class="btn btn-outline-secondary" type="submit" submit_tag="Find">Find</button>
  </div>
<% end %>