<h1><span class="ls-ico-screen"> Lista de computadores:</span></h1>

<div>
  <% @computers.each do |c| %>
    <div>
      <%= link_to c.code, c %> | <%= c.person.name %>
    </div>
    <% end %>
</div>