<div id="departament" class="mt-4">
  <% if @departaments.empty? %>
    Nenhum departamento cadastrado
  <% else %>
      <table class="table table-striped table-hover">
        <thead class="text-dark">
          <tr>
            <th scope="col">Empresa</th>
            <th scope="col">Departamento</th>
            <th scope="col">Detalhes</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
        <% @departaments.each do |d| %>
          <tr>
            <td><%= d.company.fantasy_name %></td>
            <td><%= link_to d.name, departament_path(d.id) %></td>
            <td><a href=<%= departament_path(d.id)%> title="">
              <i class="bi bi-eye link-secondary h4"></i>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>