<%= form_with model: @password_door do |f| %>

  <div class="input-group mt-4">
    <span class="input-group-text"><%= f.label :top, 'Top' %></span>
    <input type="number" name="password_door[top]" id="password_door_top" class="form-control" placeholder="TOP" aria-label="With textarea"/>
  </div>
  
  <div class="input-group mt-4">
    <span class="input-group-text"><%= f.label :bottom, 'Bottom' %></span>
    <input type="number" name="password_door[bottom]" id="password_door_bottom" class="form-control" placeholder="Bottom" aria-label="With textarea"/>
  </div>
  
  <div class="mt-4">
    <%= f.submit 'Salvar', class: "btn btn-secondary mt4" %>
  </div>
  
<% end %>