<div id="email" class="mt-4">
  <% if @emails.empty? %>
    Nenhum email cadastrado
  <% else %>
      <table class="table table-striped table-hover">
        <thead class="text-danger">
          <tr>
            <th scope="col">Empresa</th>
            <th scope="col">Departamento</th>
            <th scope="col">Nome do usuário</th>
            <th scope="col">Detalhes</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
        <% @emails.sort.each do |e| %>
          <tr>
            <td><%= e.company.fantasy_name %></td>
            <td><%= e.departament.name %></td>
            <td><%= e.person.name %></td>
            <td><a href=<%= email_path(e.id)%> title="">
              <i class="bi bi-eye link-secondary"></i>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>